<?xml version="1.0"?>
<model>
  <name>caja_qr</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Grupo 03 — CarryBot</name>
  </author>

  <description>
    Caja de cartón con código QR en la cara frontal.
    El QR codifica el destino de navegación Nav2 del paquete.
    Tamaño: 30 x 30 x 30 cm.
  </description>
</model>